In [7]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("final.csv")
df

,Category,Resume,Skill,Exp
0,Data Science,Skills * Programming Languages: Python (pandas...,"['Interactive', 'Flask', 'Security', 'Ggplot',...",NaN
1,Data Science,Skills R Python SAP HANA Tableau SAP HANA...,"['Telecom', 'Kpis', 'Servers', 'Sales', 'Engli...",NaN
2,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,"['Research', 'Forecasting']",NaN
3,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,"['English', 'System', 'Python', 'Automation', ...",NaN
4,Data Science,Skills * Programming Languages: Python (pandas...,"['Interactive', 'Flask', 'Security', 'Ggplot',...",NaN
...,...,...,...,...
179,Testing,Computer Skills: Proficient in MS office (Wo...,"['Excel', 'Word', 'Engineering', 'Windows', 'T...",NaN
180,Testing,Computer Skills: Proficient in MS office (Wo...,"['Excel', 'Word', 'Engineering', 'Windows', 'T...",NaN
181,Testing,Willingness to accept the challenges. Positi...,"['Hardware', 'Analyze', 'Engineering', 'Regula...",NaN
182,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,"['Hardware', 'Testing', 'Electronics', 'C', 'M...",NaN
183,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,"['Security', 'Windows', 'Database', 'Html', 'O...",NaN

In [3]:
df['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [4]:
df[df['Category'] == 'Data Science']

,Category,Resume,Skill,Exp
0,Data Science,Skills * Programming Languages: Python (pandas...,"['Interactive', 'Flask', 'Security', 'Ggplot',...",NaN
1,Data Science,Skills R Python SAP HANA Tableau SAP HANA...,"['Telecom', 'Kpis', 'Servers', 'Sales', 'Engli...",NaN
2,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,"['Research', 'Forecasting']",NaN
3,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,"['English', 'System', 'Python', 'Automation', ...",NaN
4,Data Science,Skills * Programming Languages: Python (pandas...,"['Interactive', 'Flask', 'Security', 'Ggplot',...",NaN
5,Data Science,"Areas of Interest Deep Learning, Control Syste...","['Flask', 'System', 'Electronics', 'Python', '...",NaN
6,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",['Database'],NaN
7,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...","['Microsoft excel', 'Excel', 'C', 'Python', 'M...",NaN
8,Data Science,Skills Python Tableau Data Visualization R...,"['Excel', 'Statistics', 'Engineering', 'Ai', '...",NaN
9,Data Science,Personal Skills Ability to quickly grasp tech...,"['Analysis', 'Numpy', 'Pandas', 'Engineering',...",NaN
10,Data Science,"Expertise , Data and Quantitative Analysis , D...","['Analyze', 'Ibm', 'System', 'Electronics', 'P...",NaN

In [5]:
data = df['Resume'][0]
data

'Skills * Programming Languages: Python (pandas, numpy, scipy, scikit-learn, matplotlib), Sql, Java, JavaScript/JQuery. * Machine learning: Regression, SVM, NaÃƒÂ¯ve Bayes, KNN, Random Forest, Decision Trees, Boosting techniques, Cluster Analysis, Word Embedding, Sentiment Analysis, Natural Language processing, Dimensionality reduction, Topic Modelling (LDA, NMF), PCA & Neural Nets. * Database Visualizations: Mysql, SqlServer, Cassandra, Hbase, ElasticSearch D3.js, DC.js, Plotly, kibana, matplotlib, ggplot, Tableau. * Others: Regular Expression, HTML, CSS, Angular 6, Logstash, Kafka, Python Flask, Git, Docker, computer vision - Open CV and understanding of Deep learning.Education Details \r\n\r\nData Science Assurance Associate \r\n\r\nData Science Assurance Associate - Ernst & Young LLP\r\nSkill Details \r\nJAVASCRIPT- Experience - 24 months\r\njQuery- Experience - 24 months\r\nPython- Experience - 24 monthsCompany Details \r\ncompany - Ernst & Young LLP\r\ndescription - Fraud Investigations and Dispute Services   Assurance\r\nTECHNOLOGY ASSISTED REVIE\r\nTAR (Technology Assisted Revie) assists in accelerating the revie process and run analytics and generate reports.\r\n* Core member of a team helped in developing automated revie platform tool from scratch for assisting E discovery domain, this tool implements predictive coding and topic modelling by automating revies, resulting in reduced labor costs and time spent during the layers revie.\r\n* Understand the end to end flo of the solution, doing research and development for classification models, predictive analysis and mining of the information present in text data. orked on analyzing the outputs and precision monitoring for the entire tool.\r\n* TAR assists in predictive coding, topic modelling from the evidence by folloing EY standards. Developed the classifier models in order to identify "red flags" and fraud-related issues.\r\n\r\nTools & Technologies: Python, scikit-learn, tfidf, ord2vec, doc2vec, cosine similarity, NaÃƒÂ¯ve Bayes, LDA, NMF for topic modelling, Vader and text blob for sentiment analysis. Matplot lib, Tableau dashboard for reporting.\r\n\r\nMULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS (USA CLIENTS)\r\nTEXT ANALYTICS - MOTOR VEHICLE CUSTOMER REVIE DATA * Received customer feedback survey data for past one year. Performed sentiment (Positive, Negative & Neutral) and time series analysis on customer comments across all 4 categories.\r\n* Created heat map of terms by survey category based on frequency of ords * Extracted Positive and Negative ords across all the Survey categories and plotted ord cloud.\r\n* Created customized tableau dashboards for effective reporting and visualizations.\r\nCHATBOT * Developed a user friendly chatbot for one of our Products hich handle simple questions about hours of operation, reservation options and so on.\r\n* This chat bot serves entire product related questions. Giving overvie of tool via QA platform and also give recommendation responses so that user question to build chain of relevant anser.\r\n* This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant /recommended questions.\r\n\r\nTools & Technologies: Python, Natural language processing, NLTK, spacy, topic modelling, Sentiment analysis, ord Embedding, scikit-learn, JavaScript/JQuery, SqlServer\r\n\r\nINFORMATION GOVERNANCE\r\nOrganizations to make informed decisions about all of the information they store. The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk.\r\n* Scan data from multiple sources of formats and parse different file formats, extract Meta data information, push results for indexing elastic search and created customized, interactive dashboards using kibana.\r\n* Preforming ROT Analysis on the data hich give information of data hich helps identify content that is either Redundant, Outdated, or Trivial.\r\n* Preforming full-text search analysis on elastic search ith predefined methods hich can tag as (PII) personally identifiable information (social security numbers, addresses, names, etc.) hich frequently targeted during cyber-attacks.\r\nTools & Technologies: Python, Flask, Elastic Search, Kibana\r\n\r\nFRAUD ANALYTIC PLATFORM\r\nFraud Analytics and investigative platform to revie all red flag cases.\r\n FAP is a Fraud Analytics and investigative platform ith inbuilt case manager and suite of Analytics for various ERP systems.\r\n* It can be used by clients to interrogate their Accounting systems for identifying the anomalies hich can be indicators of fraud by running advanced analytics\r\nTools & Technologies: HTML, JavaScript, SqlServer, JQuery, CSS, Bootstrap, Node.js, D3.js, DC.js'

In [6]:
for index, row in df.iterrows():
    data = df['Resume'][index]
#     data = pd.rea
    tokens = nltk.word_tokenize(data)
    print(tokens)

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\spanc/nltk_data'
    - 'C:\\Users\\spanc\\anaconda3\\nltk_data'
    - 'C:\\Users\\spanc\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\spanc\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\spanc\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************