In [1]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\dell\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import numpy as np
import re
from unidecode import unidecode

In [3]:
old = pd.read_csv("UpdatedResumeDataSet.csv")
old

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [4]:
def remove(resume):
    resume = re.sub('[^A-Za-z0-9 ]+',' ', resume)
    resume = resume.lower()
    return unidecode(resume)

In [5]:
old['Resume'] = old['Resume'].apply(remove)
old['Resume']

0      skills   programming languages  python  pandas...
1      education details  may 2013 to may 2017 b e   ...
2      areas of interest deep learning  control syste...
3      skills   r   python   sap hana   tableau   sap...
4      education details   mca   ymcaust   faridabad ...
                             ...
957    computer skills    proficient in ms office  wo...
958      willingness to accept the challenges    posi...
959    personal skills   quick learner    eagerness t...
960    computer skills   software knowledge ms power ...
961    skill set os windows xp 7 8 8 1 10 database my...
Name: Resume, Length: 962, dtype: object

In [14]:
old['Resume']=

In [16]:
old['Resume'][8]

['personal skills   ability to quickly grasp technical aspects and willingness to learn   high energy levels   result oriented  education details  january 2018 master of engineering computer technology   application bhopal  madhya pradesh truba institute of engineering   information technology january 2010 b e  computer science bhopal  madhya pradesh rkdf institute of science and technology college of engineering january 2006 polytechnic information technology vidisha  madhya pradesh sati engineering college in vidisha january 2003 m tech thesis detail  bmch school in ganj basoda data science  i have six month experience in data science  key skills    experience in machine learning  deep leaning  nlp  python  sql  web scraping good knowledge in computer subjects and ability to update skill details  experience in machine learning  deep learning  nlp  python  sql  web crawling  html css  exprience   less than 1 year monthscompany details  company   rnt ai technology solution description   text classification using machine learning algorithms with python practical knowledge of deep learning algorithms such as  recurrent neural networks rnn develop custom data models and algorithms to apply to dataset experience with python packages like pandas  scikit learn  tensor flow  numpy  matplotliv  nltk comfort with sql   mysql sentiment analysis apply leave dataset using classification technique like tf idf   lsa with cosine similarity using machine learning algorithms web crawling using selenium web driver and beautiful soup with python company   life insurance corporation of india bhopal description    explaining policy features and the benefits  updated knowledge of life insurance products and shared with customers']

In [17]:
old['Skills'] = old['Resume'].str.extract(r'(skills?.+)education', flags= re.IGNORECASE | re.DOTALL)

In [18]:
old['Others'] = old['Resume'].str.replace(r'(skills?.+)education', '')

C:\Users\DeLL\AppData\Local\Temp\ipykernel_4636\2688159184.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  old['Others'] = old['Resume'].str.replace(r'(skills?.+)education', '')

In [19]:
nan = old[old.isnull().any(axis=1)]
nan

,Category,Resume,Skills,Others
0,Data Science,[skills programming languages python panda...,NaN,NaN
1,Data Science,[education details may 2013 to may 2017 b e ...,NaN,NaN
2,Data Science,[areas of interest deep learning control syst...,NaN,NaN
3,Data Science,[skills r python sap hana tableau sa...,NaN,NaN
4,Data Science,[education details mca ymcaust faridabad...,NaN,NaN
...,...,...,...,...
957,Testing,[computer skills proficient in ms office w...,NaN,NaN
958,Testing,[ willingness to accept the challenges pos...,NaN,NaN
959,Testing,[personal skills quick learner eagerness ...,NaN,NaN
960,Testing,[computer skills software knowledge ms power...,NaN,NaN
961,Testing,[skill set os windows xp 7 8 8 1 10 database m...,NaN,NaN

In [20]:
group = old['Category'].unique()
group

array(['Data Science', 'HR', 'Advocate', 'Arts', 'Web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [21]:
# category = "Data Science"
# filtered = old[(old['Category']==category)& old['Skills']]
# filtered

notnull = old['Skills'].dropna()
notnull

Series([], Name: Skills, dtype: object)

In [22]:
category = "HR"
filtered = old[(old['Category']==category)& old['Skills'].notnull()]
filtered

Empty DataFrame
Columns: [Category, Resume, Skills, Others]
Index: []

In [23]:
old['Skills'][50]

nan