import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load your CSV file
df = pd.read_csv('final.csv')

# Filter rows where Category is 'Data Science'
data_science_rows = df[df['Category'] == 'Data Science']

# Combine all skills related to Data Science into one string per resume
data_science_skills = data_science_rows['skills'].str.cat(sep=' ')

# Create a bag-of-words model
vectorizer = CountVectorizer()
X = vectorizer.fit_transform([data_science_skills] + list(df['skills']))

# Calculate cosine similarity
cosine_sim = cosine_similarity(X, X)

# Get index of 'Data Science' category
data_science_index = df[df['Category'] == 'Data Science'].index[0]

# Get similarity scores for 'Data Science' category
similarity_scores = cosine_sim[data_science_index]

# Get indices of top N recommendations (excluding 'Data Science' itself)
top_recommendations = similarity_scores.argsort()[:-1][::-1]

# Extract skills for the top recommendations
recommended_skills = df.loc[top_recommendations, 'skills'].tolist()

# Display recommended skills
print("Recommended Skills for Data Science:")
for skills in recommended_skills:
    print(skills)

In [4]:
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
df = pd.read_csv('final.csv')
df['Skill'][3]

"['Analytical', 'Sql server', 'English', 'Finance', 'Healthcare', 'Testing', 'Programming', 'Retail', 'Documentation', 'C#', 'Expenses', 'Engineering', 'System', 'Reporting', 'Communication', 'Visual', 'Technical', 'Sap', 'Crm', 'Windows', 'Segmentation', 'R', 'Sql', 'Reports', 'C', 'Analytics', 'Swift', 'Database', 'Etl', 'Python', 'Telecom', 'Sales', 'Kpis', 'Analysis', 'Algorithms', 'Servers', 'Process', 'Forecasting', 'Design', 'Tableau', 'Financial reports', 'Kpi', 'Electronics', 'Invoices']"

In [36]:
# data_science_rows = df[df['Category'] == 'Data Science']
profile = input("Enter profile name you're aiming for : ")

Enter profile name you're aiming for : Data Science

In [37]:
profile_rows= df[df['Category'] == profile]
# profile_rows = df[df['Category'] == data science]
profile_rows

,Category,Resume,Skill
0,Data Science,Education Details \n\nData Science Assurance A...,"['Reports', 'Python', 'Matplotlib', 'Erp', 'Ht..."
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,"['Forecasting', 'Research']"
2,Data Science,"Areas of Interest Deep Learning, Control Syste...","['Jupyter', 'Mysql', 'Electronics', 'Python', ..."
3,Data Science,"Skills : R, Python, SAP, HANA, Tableau, SAP HA...","['Reports', 'Electronics', 'Python', 'Finance'..."
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",['Database']
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...","['Powerpoint', 'Microsoft excel', 'Excel', 'Ht..."
6,Data Science,"Skills : Python, Tableau, Data Visualization, ...","['Tableau', 'Analytics', 'Excel', 'Statistics'..."
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,"['Pandas', 'Mysql', 'Python', 'Matplotlib', 'E..."
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,"['Pandas', 'Mysql', 'Sql', 'Python', 'Html', '..."
9,Data Science,"Expertise: Data and Quantitative Analysis, Dec...","['Mobile', 'Reports', 'Electronics', 'Python',..."
10,Data Science,Skills * Programming Languages: Python (pandas...,"['Pandas', 'Reports', 'Mysql', 'Python', 'Matp..."
11,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,"['Forecasting', 'Research']"
12,Data Science,"Areas of Interest Deep Learning, Control Syste...","['Jupyter', 'Mysql', 'Electronics', 'Python', ..."
13,Data Science,"Skills : R, Python, SAP HANA, Tableau, SAP HAN...","['Reports', 'Electronics', 'Python', 'Finance'..."
14,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",['Database']
15,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...","['Powerpoint', 'Microsoft excel', 'Excel', 'Ht..."
16,Data Science,"Skills: Python, Tableau, Data Visualization, R...","['Tableau', 'Analytics', 'Excel', 'Statistics'..."
17,Data Science,Education Details \n B.Tech Rayat and Bahra ...,"['Pandas', 'Mysql', 'Python', 'Matplotlib', 'E..."
18,Data Science,Personal Skills â¢ Ability to quickly grasp t...,"['Pandas', 'Mysql', 'Sql', 'Python', 'Html', '..."
19,Data Science,Expertise â Data and Quantitative Analysis â...,"['Mobile', 'Reports', 'Electronics', 'Python',..."
20,Data Science,Skills * Programming Languages: Python (pandas...,"['Pandas', 'Reports', 'Mysql', 'Python', 'Matp..."
21,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,"['Forecasting', 'Research']"
22,Data Science,"Areas of Interest Deep Learning, Control Syste...","['Jupyter', 'Mysql', 'Electronics', 'Python', ..."
23,Data Science,"Skills: R, Python, SAP HANA, Tableau, SAP HANA...","['Reports', 'Electronics', 'Python', 'Finance'..."
24,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",['Database']
25,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...","['Powerpoint', 'Microsoft excel', 'Excel', 'Ht..."
26,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,"['Tableau', 'Analytics', 'Excel', 'Statistics'..."
27,Data Science,Education Details \n B.Tech Rayat and Bahra ...,"['Pandas', 'Mysql', 'Python', 'Matplotlib', 'E..."
28,Data Science,Personal Skills â¢ Ability to quickly grasp t...,"['Pandas', 'Mysql', 'Sql', 'Python', 'Html', '..."
29,Data Science,Expertise â Data and Quantitative Analysis â...,"['Mobile', 'Reports', 'Electronics', 'Python',..."
30,Data Science,Skills * Programming Languages: Python (pandas...,"['Pandas', 'Reports', 'Mysql', 'Python', 'Matp..."
31,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,"['Forecasting', 'Research']"
32,Data Science,"Areas of Interest Deep Learning, Control Syste...","['Jupyter', 'Mysql', 'Electronics', 'Python', ..."
33,Data Science,"Skills: R, Python, SAP HANA, Tableau, SAP HAN...","['Reports', 'Electronics', 'Python', 'Finance'..."
34,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",['Database']
35,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...","['Powerpoint', 'Microsoft excel', 'Excel', 'Ht..."
36,Data Science,"Skills: Python, Tableau, Data Visualization, ...","['Tableau', 'Analytics', 'Excel', 'Statistics'..."
37,Data Science,Education Details \n B.Tech Rayat and Bahra ...,"['Pandas', 'Mysql', 'Python', 'Matplotlib', 'E..."
38,Data Science,Personal Skills â¢ Ability to quickly grasp t...,"['Pandas', 'Mysql', 'Sql', 'Python', 'Html', '..."
39,Data Science,"Expertise Data and Quantitative Analysis, Deci...","['Mobile', 'Reports', 'Electronics', 'Python',..."

In [38]:
profile_skills = profile_rows['Skill'].str.cat(sep=' ')
profile_skills

"['Reports', 'Python', 'Matplotlib', 'Erp', 'Html', 'Accounting', 'Mining', 'Css', 'Analysis', 'Reporting', 'Investigations', 'Javascript', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Cloud', 'Flask', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Interactive'] ['Forecasting', 'Research'] ['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django'] ['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#'] ['Database'] ['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word'] ['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering'] ['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication'] ['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis'] ['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching'] ['Pandas', 'Reports', 'Mysql', 'Python', 'Matplotlib', 'Html', 'Erp', 'Ggplot', 'Accounting', 'Mining', 'Database', 'Css', 'Analysis', 'Docker', 'Reporting', 'Javascript', 'Investigations', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Sql', 'Cloud', 'Hbase', 'Flask', 'Programming', 'Java', 'Numpy', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Scipy', 'Interactive'] ['Forecasting', 'Research'] ['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django'] ['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#'] ['Database'] ['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word'] ['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering'] ['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication'] ['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis'] ['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching'] ['Pandas', 'Reports', 'Mysql', 'Python', 'Matplotlib', 'Html', 'Erp', 'Ggplot', 'Accounting', 'Mining', 'Database', 'Css', 'Analysis', 'Docker', 'Reporting', 'Javascript', 'Investigations', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Sql', 'Cloud', 'Hbase', 'Flask', 'Programming', 'Java', 'Numpy', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Scipy', 'Interactive'] ['Forecasting', 'Research'] ['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django'] ['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#'] ['Database'] ['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word'] ['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering'] ['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication'] ['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis'] ['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching'] ['Pandas', 'Reports', 'Mysql', 'Python', 'Matplotlib', 'Html', 'Erp', 'Ggplot', 'Accounting', 'Mining', 'Database', 'Css', 'Analysis', 'Docker', 'Reporting', 'Javascript', 'Investigations', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Sql', 'Cloud', 'Hbase', 'Flask', 'Programming', 'Java', 'Numpy', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Scipy', 'Interactive'] ['Forecasting', 'Research'] ['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django'] ['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#'] ['Database'] ['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word'] ['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering'] ['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication'] ['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis'] ['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching']"

In [39]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform([profile_skills] + list(df['Skill']))
X

<579x368 sparse matrix of type '<class 'numpy.int64'>'
	with 11462 stored elements in Compressed Sparse Row format>

In [40]:
cosine_sim = cosine_similarity(X)

In [41]:
# Get index of 'Data Science' category
profile_index = df[df['Category'] == profile].index[0]
profile_index

0

In [42]:
# Get similarity scores for 'Data Science' category
similarity_scores = cosine_sim[profile_index]
similarity_scores

array([1.        , 0.49206251, 0.14819288, 0.53022823, 0.64808096,
       0.15718228, 0.39457257, 0.50368141, 0.66501554, 0.6273304 ,
       0.56608732, 0.59326122, 0.14819288, 0.53022823, 0.64808096,
       0.15718228, 0.39457257, 0.50368141, 0.66501554, 0.6273304 ,
       0.56608732, 0.59326122, 0.14819288, 0.53022823, 0.64808096,
       0.15718228, 0.39457257, 0.50368141, 0.66501554, 0.6273304 ,
       0.56608732, 0.59326122, 0.14819288, 0.53022823, 0.64808096,
       0.15718228, 0.39457257, 0.50368141, 0.66501554, 0.6273304 ,
       0.56608732, 0.24199795, 0.2059523 , 0.        , 0.13862174,
       0.14819288, 0.28527129, 0.24199795, 0.2059523 , 0.        ,
       0.14670346, 0.        , 0.        , 0.        , 0.10110345,
       0.05927715, 0.08383055, 0.        , 0.        , 0.        ,
       0.14670346, 0.        , 0.        , 0.08891573, 0.14915952,
       0.04191528, 0.        , 0.        , 0.26619775, 0.08891573,
       0.15191823, 0.3269448 , 0.15191823, 0.        , 0.27537877,
       0.15191823, 0.3269448 , 0.        , 0.27537877, 0.15191823,
       0.3269448 , 0.15191823, 0.        , 0.27537877, 0.15191823,
       0.3269448 , 0.15191823, 0.        , 0.27537877, 0.15191823,
       0.3269448 , 0.15191823, 0.3269448 , 0.23384861, 0.19647785,
       0.29638575, 0.15165517, 0.15165517, 0.15165517, 0.04191528,
       0.10267104, 0.23781324, 0.18754841, 0.10478819, 0.04191528,
       0.10267104, 0.23781324, 0.18754841, 0.10478819, 0.04191528,
       0.10267104, 0.23781324, 0.18754841, 0.04191528, 0.10267104,
       0.        , 0.02095764, 0.10373501, 0.2261919 , 0.08383055,
       0.        , 0.02095764, 0.10373501, 0.2261919 , 0.08383055,
       0.        , 0.08383055, 0.2261919 , 0.14819288, 0.11539228,
       0.10889908, 0.17231206, 0.12099898, 0.14819288, 0.18754841,
       0.28897611, 0.28186304, 0.24625224, 0.32669724, 0.20569826,
       0.23804948, 0.29039755, 0.261401  , 0.24703562, 0.2469599 ,
       0.13309888, 0.34825326, 0.28126869, 0.30159617, 0.24625224,
       0.20569826, 0.23804948, 0.2469599 , 0.34825326, 0.30159617,
       0.24625224, 0.20569826, 0.23804948, 0.29039755, 0.261401  ,
       0.34825326, 0.30159617, 0.24625224, 0.23804948, 0.23804948,
       0.29039755, 0.261401  , 0.30159617, 0.24625224, 0.261401  ,
       0.24625224, 0.261401  , 0.338581  , 0.3287104 , 0.3069507 ,
       0.30032375, 0.3287104 , 0.3069507 , 0.30032375, 0.3287104 ,
       0.3069507 , 0.30032375, 0.24621136, 0.338581  , 0.3287104 ,
       0.3069507 , 0.30032375, 0.3069507 , 0.37724475, 0.31053874,
       0.27609864, 0.10373501, 0.33415682, 0.1948046 , 0.27609864,
       0.14519877, 0.31056404, 0.33876926, 0.43409023, 0.23431351,
       0.266162  , 0.34793781, 0.34436913, 0.22971603, 0.14519877,
       0.30288267, 0.18745081, 0.17231206, 0.22971603, 0.14519877,
       0.31661399, 0.38719673, 0.46760345, 0.27358214, 0.32196871,
       0.40931317, 0.38853931, 0.37501318, 0.30750022, 0.42442532,
       0.37038205, 0.29831903, 0.31492477, 0.38853931, 0.37501318,
       0.30750022, 0.38853931, 0.37501318, 0.30750022, 0.38853931,
       0.37501318, 0.30750022, 0.38853931, 0.37501318, 0.30750022,
       0.38853931, 0.37501318, 0.30750022, 0.38853931, 0.37501318,
       0.30750022, 0.38853931, 0.37501318, 0.30750022, 0.38853931,
       0.37501318, 0.30750022, 0.38853931, 0.37501318, 0.30750022,
       0.38853931, 0.37501318, 0.30750022, 0.38853931, 0.37501318,
       0.30750022, 0.38853931, 0.37501318, 0.30750022, 0.38853931,
       0.37501318, 0.30750022, 0.38853931, 0.37501318, 0.30750022,
       0.38853931, 0.37501318, 0.30750022, 0.38853931, 0.37501318,
       0.30750022, 0.14670346, 0.17437809, 0.13622464, 0.25149165,
       0.13599111, 0.14670346, 0.17437809, 0.13622464, 0.25149165,
       0.13599111, 0.14670346, 0.17437809, 0.13622464, 0.25149165,
       0.13599111, 0.14670346, 0.17437809, 0.13622464, 0.25149165,
       0.13599111, 0.14670346, 0.17437809, 0.13622464, 0.25149165,
       0.13599111, 0.26185149, 0.27984433, 0.13215732, 0.26185149,
       0.27984433, 0.13215732, 0.26185149, 0.27984433, 0.13215732,
       0.26185149, 0.27984433, 0.13215732, 0.26185149, 0.27984433,
       0.13215732, 0.26185149, 0.27984433, 0.13215732, 0.26185149,
       0.27984433, 0.13215732, 0.26185149, 0.27984433, 0.13215732,
       0.26185149, 0.27984433, 0.13215732, 0.26185149, 0.27984433,
       0.13215732, 0.35552632, 0.26391531, 0.31375005, 0.27126864,
       0.2843476 , 0.31900778, 0.27537877, 0.17857088, 0.16548205,
       0.28583322, 0.44556989, 0.35552632, 0.26391531, 0.31375005,
       0.27126864, 0.2843476 , 0.31900778, 0.27537877, 0.17857088,
       0.16548205, 0.28583322, 0.44556989, 0.35552632, 0.26391531,
       0.31375005, 0.27126864, 0.2843476 , 0.31900778, 0.27537877,
       0.17857088, 0.16548205, 0.28583322, 0.44556989, 0.48340086,
       0.29497294, 0.37958789, 0.27943517, 0.4611026 , 0.40596368,
       0.40207231, 0.48340086, 0.29497294, 0.37958789, 0.27943517,
       0.4611026 , 0.40596368, 0.40207231, 0.48340086, 0.29497294,
       0.37958789, 0.27943517, 0.4611026 , 0.40596368, 0.40207231,
       0.48340086, 0.29497294, 0.37958789, 0.27943517, 0.4611026 ,
       0.40596368, 0.40207231, 0.48340086, 0.29497294, 0.37958789,
       0.27943517, 0.4611026 , 0.40596368, 0.40207231, 0.48340086,
       0.29497294, 0.37958789, 0.27943517, 0.4611026 , 0.40596368,
       0.40207231, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.24730012, 0.37559444, 0.29955321, 0.32886978,
       0.23528779, 0.30650545, 0.18395227, 0.26951147, 0.04191528,
       0.26463802, 0.31351013, 0.32531032, 0.30650545, 0.18395227,
       0.26951147, 0.04191528, 0.26463802, 0.31351013, 0.32531032,
       0.30650545, 0.18395227, 0.26951147, 0.04191528, 0.26463802,
       0.31351013, 0.32531032, 0.30650545, 0.18395227, 0.26951147,
       0.04191528, 0.26463802, 0.31351013, 0.32531032, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18823023,
       0.29088472, 0.31698427, 0.25159436, 0.40770551, 0.18745081,
       0.2843476 , 0.27943517, 0.24101283, 0.26737973, 0.19010982,
       0.38202968, 0.18745081, 0.2843476 , 0.27943517, 0.24101283,
       0.26737973, 0.19010982, 0.38202968, 0.18745081, 0.2843476 ,
       0.27943517, 0.24101283, 0.26737973, 0.19010982, 0.38202968,
       0.18745081, 0.2843476 , 0.27943517, 0.24101283, 0.26737973,
       0.19010982, 0.38202968, 0.18745081, 0.2843476 , 0.27943517,
       0.24101283, 0.26737973, 0.19010982, 0.38202968, 0.18745081,
       0.2843476 , 0.27943517, 0.24101283, 0.26737973, 0.19010982,
       0.38202968, 0.18745081, 0.2843476 , 0.27943517, 0.24101283,
       0.26737973, 0.19010982, 0.38202968, 0.18745081, 0.2843476 ,
       0.27943517, 0.24101283, 0.26737973, 0.19010982, 0.38202968,
       0.18745081, 0.2843476 , 0.27943517, 0.24101283, 0.26737973,
       0.19010982, 0.38202968, 0.18745081, 0.2843476 , 0.27943517,
       0.24101283, 0.26737973, 0.19010982, 0.38202968])

In [43]:
top_recommendations = similarity_scores.argsort()[:-1][::-1]
top_recommendations

array([ 38,  18,   8,  28,   4,  34,  24,  14,  39,   9,  29,  19,  31,
        21,  11,  10,  30,  40,  20,  33,   3,  23,  13,  17,  27,   7,
        37,   1, 359, 394, 373, 387, 366, 380, 212, 398, 370, 363, 384,
       391, 377, 347, 336, 358, 198, 219, 215, 508, 503, 498, 478, 473,
       493, 483, 488, 371, 364, 378, 385, 399, 392, 365, 386, 372, 393,
       400, 379,  26,  16,   6,  36, 223, 268, 216, 226, 235, 229, 232,
       265, 241, 244, 247, 250, 253, 256, 259, 262, 238, 211, 578, 536,
       550, 515, 564, 522, 529, 571, 557, 543, 382, 389, 396, 375, 361,
       368, 188, 417, 427, 412, 432, 407, 422, 402, 437, 224, 230, 263,
       269, 260, 227, 217, 233, 257, 236, 266, 239, 251, 242, 245, 248,
       254, 220, 348, 337, 326, 160, 146, 153, 201, 202, 197, 172, 183,
       192, 439, 424, 404, 409, 414, 419, 429, 434, 179, 173, 176, 184,
        80,  90,  85,  71,  92,  76, 138, 447, 468, 461, 454, 214, 353,
       342, 331, 506, 476, 486, 501, 481, 471, 491, 496, 210, 222, 350,
       328, 339, 460, 453, 467, 446, 196, 189, 267, 240, 255, 270, 246,
       225, 258, 249, 261, 264, 237, 228, 234, 218, 231, 252, 243, 180,
       177, 185, 187, 174, 441, 455, 462, 448, 205, 167, 161, 148, 154,
       175, 178, 181, 186, 403, 408, 418, 423, 428, 413, 433, 438, 221,
        95, 374, 388, 381, 360, 395, 367, 500, 470, 475, 495, 480, 485,
       490, 505, 165, 141, 158, 135, 346, 357, 335,  46, 566, 524, 330,
       510, 559, 545, 352, 517, 573, 552, 341, 538, 531, 136, 147, 309,
       306, 303, 318, 321, 300, 315, 297, 312, 324, 376, 397, 369, 390,
       383, 362, 574, 511, 525, 546, 567, 518, 532, 539, 560, 553, 190,
       194, 332, 354, 343,  74,  78,  83,  88, 213, 340, 351, 329, 464,
       443, 450, 457, 562, 527, 534, 555, 569, 576, 520, 548, 541, 513,
        68, 200, 445, 459, 466, 452, 349, 338, 327, 320, 323, 314, 317,
       311, 308, 305, 302, 296, 299, 171, 169, 142, 166, 159, 487, 492,
       507, 482, 502, 477, 497, 472, 294, 284, 279, 289, 274, 431, 401,
       406, 411, 416, 421, 426, 436, 143, 144, 152, 137, 155, 149, 170,
       168, 162, 182,  41,  47, 526, 568, 561, 554, 540, 575, 533, 519,
       547, 512, 164, 151, 140, 157, 163, 111, 106, 101, 415, 435, 430,
       425, 405, 440, 420, 410, 199,  93, 208, 203, 127, 123, 118,  48,
        42, 139, 156, 150,  94, 193, 570, 556, 563, 549, 535, 514, 521,
       528, 542, 577, 504, 494, 469, 474, 479, 484, 489, 499, 134, 102,
       112, 107, 544, 509, 537, 572, 530, 523, 516, 551, 565, 558, 206,
       456, 442, 449, 463, 344, 333, 355, 287, 282, 277, 292, 272, 207,
       131, 356, 345, 334,  25,  35,  15,   5,  70,  72,  91,  79,  81,
        84,  86,  89,  75,  98,  96,  97,  64,  12,  45,  22, 128,  32,
       133,   2,  60, 286, 271, 276, 281, 291,  50, 209, 204, 195,  44,
       293, 278, 273, 283, 288, 285, 295, 275, 290, 280, 145, 307, 298,
       301, 325, 322, 316, 310, 313, 304, 319, 132, 129, 130, 108, 103,
       117, 122, 191, 110, 105, 114, 100,  54,  63,  69,  56, 124, 126,
       119,  55, 458, 465,  65, 104, 113, 451, 444, 109,  99, 121, 116,
        73,  77,  82,  87,  67,  49,  66, 125,  62,  51, 120,  59,  58,
       115,  57,  53,  52,  43,  61], dtype=int64)

In [44]:
# Extract skills for the top recommendations
recommended_skills = profile_rows.loc[profile_rows.index.isin(top_recommendations), 'Skill'].tolist()
recommended_skills

["['Forecasting', 'Research']",
 "['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django']",
 "['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#']",
 "['Database']",
 "['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word']",
 "['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering']",
 "['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication']",
 "['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis']",
 "['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching']",
 "['Pandas', 'Reports', 'Mysql', 'Python', 'Matplotlib', 'Html', 'Erp', 'Ggplot', 'Accounting', 'Mining', 'Database', 'Css', 'Analysis', 'Docker', 'Reporting', 'Javascript', 'Investigations', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Sql', 'Cloud', 'Hbase', 'Flask', 'Programming', 'Java', 'Numpy', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Scipy', 'Interactive']",
 "['Forecasting', 'Research']",
 "['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django']",
 "['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#']",
 "['Database']",
 "['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word']",
 "['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering']",
 "['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication']",
 "['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis']",
 "['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching']",
 "['Pandas', 'Reports', 'Mysql', 'Python', 'Matplotlib', 'Html', 'Erp', 'Ggplot', 'Accounting', 'Mining', 'Database', 'Css', 'Analysis', 'Docker', 'Reporting', 'Javascript', 'Investigations', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Sql', 'Cloud', 'Hbase', 'Flask', 'Programming', 'Java', 'Numpy', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Scipy', 'Interactive']",
 "['Forecasting', 'Research']",
 "['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django']",
 "['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#']",
 "['Database']",
 "['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word']",
 "['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering']",
 "['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication']",
 "['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis']",
 "['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching']",
 "['Pandas', 'Reports', 'Mysql', 'Python', 'Matplotlib', 'Html', 'Erp', 'Ggplot', 'Accounting', 'Mining', 'Database', 'Css', 'Analysis', 'Docker', 'Reporting', 'Javascript', 'Investigations', 'Content', 'Process', 'Responses', 'Tableau', 'Analytics', 'Sql', 'Cloud', 'Hbase', 'Flask', 'Programming', 'Java', 'Numpy', 'Security', 'Governance', 'Word', 'Coding', 'Spacy', 'Research', 'Nltk', 'Scipy', 'Interactive']",
 "['Forecasting', 'Research']",
 "['Jupyter', 'Mysql', 'Electronics', 'Python', 'Flower', 'Design', 'Matlab', 'Engineering', 'Github', 'Linux', 'Electrical', 'Technical', 'Ubuntu', 'Strategy', 'Segmentation', 'Anaconda', 'Pycharm', 'Analytics', 'System', 'Windows', 'Flask', 'Programming', 'Java', 'Marketing', 'Django']",
 "['Reports', 'Electronics', 'Python', 'Finance', 'Sap', 'Design', 'Expenses', 'Database', 'Engineering', 'Sql server', 'Analysis', 'Visual', 'Reporting', 'Kpi', 'Testing', 'Algorithms', 'Process', 'Technical', 'Etl', 'Swift', 'Segmentation', 'English', 'Healthcare', 'Tableau', 'Crm', 'Analytics', 'Servers', 'Sql', 'Retail', 'R', 'C', 'Financial reports', 'System', 'Windows', 'Programming', 'Sales', 'Analytical', 'Kpis', 'Documentation', 'Telecom', 'Invoices', 'Forecasting', 'Communication', 'C#']",
 "['Database']",
 "['Powerpoint', 'Microsoft excel', 'Excel', 'Html', 'Python', 'C', 'Microsoft word', 'Machine learning', 'Microsoft powerpoint', 'Matlab', 'Word']",
 "['Tableau', 'Analytics', 'Excel', 'Statistics', 'Ai', 'Python', 'R', 'Machine learning', 'Consulting', 'Engineering']",
 "['Pandas', 'Mysql', 'Python', 'Matplotlib', 'Engineering', 'Linux', 'Engagement', 'Training', 'Queries', 'Algorithms', 'Ubuntu', 'Technical', 'English', 'Oracle', 'Responses', 'Analytics', 'Tensorflow', 'Keras', 'Cloud', 'Sql', 'C', 'System', 'Windows', 'Programming', 'Numpy', 'Documentation', 'Sublime', 'Seaborn', 'Automation', 'Machine learning', 'Access', 'Communication']",
 "['Pandas', 'Mysql', 'Sql', 'Python', 'Html', 'Algorithms', 'Machine learning', 'Nltk', 'Technical', 'Selenium', 'Numpy', 'Engineering', 'Analysis']",
 "['Mobile', 'Reports', 'Electronics', 'Python', 'Mining', 'Database', 'Analysis', 'Forecasts', 'Kpi', 'Pyspark', 'Queries', 'Pattern', 'Algorithms', 'Business intelligence', 'Pr', 'Analytics', 'Hadoop', 'Api', 'Aws', 'Analyze', 'R', 'System', 'Selenium', 'Ibm', 'Distribution', 'Hive', 'Spark', 'Twitter', 'Machine learning', 'Research', 'Modeling', 'Communication', 'Teaching']"]