In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("finalll.csv")
df

,Category,Resume,Skill,Exp
0,Data Science,Skills * Programming Languages: Python (pandas...,"['Python', 'Investigations', 'Mining', 'Resear...",NaN
1,Data Science,Skills R Python SAP HANA Tableau SAP HANA...,"['Sap', 'Crm', 'Invoices', 'Python', 'Electron...",NaN
2,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,"['Research', 'Forecasting']",NaN
3,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,"['Sublime', 'Seaborn', 'Automation', 'Machine ...",NaN
4,Data Science,Skills * Programming Languages: Python (pandas...,"['Python', 'Investigations', 'Mining', 'Resear...",NaN
...,...,...,...,...
323,Testing,Computer Skills: Proficient in MS office (Wo...,"['Crm', 'Testing', 'Excel', 'Research', 'Try',...",NaN
324,Testing,Willingness to accept the challenges. Positi...,"['Process', 'Testing', 'Policies', 'Compliance...",NaN
325,Testing,"PERSONAL SKILLS Quick learner, Eagerness t...","['Process', 'Iso', 'Testing', 'Distribution', ...",NaN
326,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,"['Design', 'Testing', 'Matrix', 'Electronics',...",NaN
327,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,"['Automation', 'Test plans', 'Hospital', 'Repo...",NaN

In [5]:
df['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [24]:
df[df['Category'] == 'Database']

,Category,Resume,Skill,Exp
144,Database,Technical Expertise Operating Systems Microsof...,"['Access', 'Schedule', 'Statistics', 'Reports'...",NaN
145,Database,"Areas of Expertise Oracle Databases 12c, 11g,...","['Servers', 'Architecture', 'Writing', 'Script...",NaN
146,Database,"TECHNICAL SKILLS SQL Oracle v10, v11, v12 R...","['Ibm', 'Machine learning', 'Python', 'Statist...",NaN
147,Database,TECHNICAL EXPERTISE DB Languages: SQL Databa...,"['Architecture', 'Pr', 'Reports', 'Communicati...",NaN
148,Database,TECHNICAL SKILLS Operating Systems MS Windows ...,"['Architecture', 'Automation', 'Improvement', ...",NaN
149,Database,"SKILLSET Oracle DBA, MySQL, MARIADB, PostgreSQ...","['Coaching', 'Reports', 'Installation', 'Custo...",NaN
150,Database,Education Details \r\nJanuary 2016 BSc. Mumba...,"['Writing', 'Updates', 'Analysis', 'Security',...",NaN
151,Database,"TECHNICAL SKILL: Operating System LINUX, Windo...","['Accounting', 'Reports', 'Installation', 'Adm...",NaN
152,Database,"Technical Skills Databases: Oracle RDBMS- 10g,...","['Itil', 'Access', 'Schedule', 'Improvement', ...",NaN
153,Database,Software Skills: * RDBMS: MS SQL SERVER 2000/2...,"['Servers', 'Process', 'Scheduling', 'Troubles...",NaN
154,Database,"Areas of Expertise Oracle Databases 12c, 11g...","['Servers', 'Architecture', 'Writing', 'Script...",NaN
155,Database,Education Details \r\nMay 2011 to May 2014 Bac...,"['Servers', 'Scheduling', 'Troubleshooting', '...",NaN
156,Database,"TECHNICAL SKILLS SQL Oracle v10, v11, v12 ...","['Ibm', 'Machine learning', 'Python', 'Statist...",NaN