In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("final.csv")
df

,Category,Resume,Skill,Exp
0,Data Science,Skills * Programming Languages: Python (pandas...,"['Docker', 'Java', 'Word', 'Matplotlib', 'Secu...",NaN
1,Data Science,Skills R Python SAP HANA Tableau SAP HANA...,"['Electronics', 'Expenses', 'Kpi', 'Finance', ...",NaN
2,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,"['Research', 'Forecasting']",NaN
3,Data Science,Education Details \r\n B.Tech Rayat and Bahr...,"['English', 'Api', 'Matplotlib', 'Cloud', 'Acc...",NaN
4,Data Science,Skills * Programming Languages: Python (pandas...,"['Docker', 'Java', 'Security', 'Matplotlib', '...",NaN
...,...,...,...,...
208,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
209,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
210,Testing,Willingness to accept the challenges. Positi...,"['Electronics', 'Regulations', 'Compliance', '...",NaN
211,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,"['Electronics', 'Matrix', 'Testing', 'Matlab',...",NaN
212,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,"['Testing', 'Sql server', 'Java', 'Mobile', 'S...",NaN

In [3]:
df['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [9]:
df[df['Category'] == 'Testing']

,Category,Resume,Skill,Exp
197,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
198,Testing,"PERSONAL SKILLS Quick learner, Eagerness t...","['Research', 'Commissioning', 'Testing', 'Asse...",NaN
199,Testing,Good logical and analytical skills Positiv...,"['Electronics', 'Testing', 'Electrical', 'Syst...",NaN
200,Testing,COMPUTER PROFICIENCY Basic: MS-Office (Power...,"['Linux', 'Testing', 'Excel', 'Java', 'Automat...",NaN
201,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
202,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
203,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
204,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
205,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
206,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
207,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
208,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
209,Testing,Computer Skills: Proficient in MS office (Wo...,"['Research', 'Testing', 'Excel', 'Engineering'...",NaN
210,Testing,Willingness to accept the challenges. Positi...,"['Electronics', 'Regulations', 'Compliance', '...",NaN
211,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,"['Electronics', 'Matrix', 'Testing', 'Matlab',...",NaN
212,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,"['Testing', 'Sql server', 'Java', 'Mobile', 'S...",NaN