In [86]:
import pandas as pd 
import numpy as np

In [87]:
mined = pd.read_csv('mined.csv')
mined

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Skills  R  Python  SAP HANA  Tableau  SAP HANA...
2    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
3    Data Science  Education Details \r\n B.Tech   Rayat and Bahr...
4    Data Science  Skills * Programming Languages: Python (pandas...
..            ...                                                ...
157       Testing  COMPUTER PROFICIENCY   Basic: MS-Office (Power...
158       Testing  Computer Skills:   Proficient in MS office (Wo...
159       Testing   Willingness to accept the challenges.  Positi...
160       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
161       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[162 rows x 2 columns]

In [88]:
skill = pd.read_csv('skillself.csv')
skill

,Category,Skill,Experience
0,Data Science,"['Pandas', 'Numpy', 'Scipy', 'SCikit-learn', '...",2Y
1,Data Science,"['R', 'Python', 'SAP HANA', 'Tableau', 'SAP HA...",1Y
2,Data Science,"['Python', 'Machine learning', 'Sklearn', 'Sci...",1Y
3,Data Science,"['Software Development: inception, requirement...",2Y
4,Data Science,"['Programming Languages: Python, Java', 'Datab...",2Y
...,...,...,...
157,Testing,"['MS Office', 'CPP', 'Android Developer', 'Man...",1Y
158,Testing,"['Windows', 'MS Office', 'Insulation Resistanc...",6M
159,Testing,"['C', 'Windows 7-8/NT/XP', 'C++', 'Documentati...",9M
160,Testing,"['MS Office', 'C', 'Portius (PCB Design)', 'Mu...",6M
161,Testing,"['Windows XP/7/8/8.1/10', 'MySQL', 'Html', 'SQ...",2Y

In [89]:
mined['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [91]:
# joke['skill'] = skill['Skill']
# joke['Exp']= skill['Experience']

mined[mined['Category'] == 'HR']

   Category                                             Resume
9        HR  TECHNICAL SKILLS  Typeriting  TORA  SPSSEducat...
10       HR  I.T. Skills  indos XP, Ms Office (ord, Excel: ...
11       HR  KEY SKILLS:  Computerized accounting ith tally...
12       HR  Training in Special Education (Certificate Cou...
13       HR  Computer Knoledge:  Proficient in basic use of...
14       HR  SOFTARE SKILLS:  General Computer Proficiency ...

In [92]:
skill[skill['Category'] == 'HR']

   Category                                              Skill Experience
9        HR  ['Communication', 'Finance', 'Typewriting', 'T...         8M
10       HR  ['Interactive', 'indos XP', 'Ms Office (word, ...        11M
11       HR  ['Scrum', 'web programming', 'tally', 'Account...         6M
12       HR  ['Counsellor', 'Organizational Behaviour', 'Tr...         3M
13       HR  ['Engineering', 'Administration', ' MS office'...         6M
14       HR  ['Computer science', 'Java', 'Engineering', 'P...         6M

In [76]:
df['Category'].unique()

NameError: name 'df' is not defined

In [ ]:
df[df['Category'] == 'Health and fitness']

In [ ]:
data = df['Resume'][0]
token = nltk.word_tokenize(data)
token

In [ ]:
for index, row in df.iterrows():
    data = df['Resume'][index]
    tokens = nltk.word_tokenize(data)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Sample dataset
for index, row in df.iterrows():
    data = df['Resume'][index]
    # # {
    #     'python_developer': 'python django machine_learning',
    #     'hr': 'communication recruitment employee_relations',
    #     'sales': 'negotiation communication customer_service',
    #     'data_science': 'python machine_learning data_analysis',
    #     # Add more categories and skills as needed
    # # }

    # Function to generate recommendations
    def get_recommendations(user_category, user_skills):
        # Combine the user's skills with the skills of others in the same category
        all_skills = [skills for category, skills in data.items() if category != user_category]
        all_skills.append(user_skills)

        # TF-IDF vectorization
        vectorizer = TfidfVectorizer()
        tfidf_matrix = vectorizer.fit_transform(all_skills)

        # Calculate cosine similarity
        cosine_sim = linear_kernel(tfidf_matrix[-1], tfidf_matrix[:-1]).flatten()

        # Get indices of skills with high similarity
        sim_indices = cosine_sim.argsort()[:-4:-1]  # Get top 3 recommendations

        # Get recommended skills
        recommended_skills = [(list(data.keys())[i], cosine_sim[i]) for i in sim_indices]

        return recommended_skills

    # Example of usage
    user_category = 'python_developer'
    user_skills = 'python django machine_learning'

    recommendations = get_recommendations(user_category, user_skills)

    print(f"Recommended skills for {user_category} with skills {user_skills}:")
    for category, similarity in recommendations:
        print(f"{category} (Similarity: {similarity:.2f})")

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Load the dataset
dataset = pd.read_csv('your_dataset.csv')  # Replace 'your_dataset.csv' with the actual file path

# Load the skills levels dataset
skills_levels = pd.read_csv('skills_levels.csv')  # Replace 'skills_levels.csv' with the actual file path

# Function to generate recommendations
def get_recommendations(user_category, user_skills, user_experience):
    # Filter dataset based on the user's category
    category_data = dataset[dataset['Category'] == user_category]

    # Combine the user's skills with the skills of others in the same category
    all_skills = category_data['skill'].tolist()
    all_skills.append(user_skills)

    # TF-IDF vectorization
    vectorizer = TfidfVectorizer()
    tfidf_matrix = vectorizer.fit_transform(all_skills)

    # Calculate cosine similarity
    cosine_sim = linear_kernel(tfidf_matrix[-1], tfidf_matrix[:-1]).flatten()

    # Get indices of skills with high similarity
    sim_indices = cosine_sim.argsort()[:-4:-1]  # Get top 3 recommendations

    # Get recommended skills based on the user's experience level
    recommended_skills = []

    for index in sim_indices:
        skill = category_data.iloc[index]['skill']
        level = skills_levels[skills_levels['skill'] == skill]['level'].values[0]

        if user_experience < 1 and level == 'Basic':
            recommended_skills.append((skill, cosine_sim[index]))
        elif 1 <= user_experience < 2 and level == 'Intermediate':
            recommended_skills.append((skill, cosine_sim[index]))
        elif user_experience >= 2 and level == 'Advanced':
            recommended_skills.append((skill, cosine_sim[index]))

    return recommended_skills

# Example of usage
user_category = 'data_science'
user_skills = 'python machine_learning data_analysis'
user_experience = 1.5  # Assuming the user has 1.5 years of experience

recommendations = get_recommendations(user_category, user_skills, user_experience)

print(f"Recommended skills for {user_category} with skills {user_skills} and experience {user_experience} years:")
for skill, similarity in recommendations:
    print(f"{skill} (Similarity: {similarity:.2f})")

In [ ]:
# import nltk
# nltk.download('all')