In [1]:
import pandas as pd 
import numpy as np

In [2]:
final = pd.read_csv('final.csv')

In [4]:
skill = pd.read_csv('skill.csv')

In [5]:
exp = skill[['Category', 'Experience']]
exp.to_csv('exp.csv', index=False)

In [6]:
exp

         Category Experience
0    Data Science         2Y
1    Data Science         1Y
2    Data Science         1Y
3    Data Science         2Y
4    Data Science         2Y
..            ...        ...
157       Testing         1Y
158       Testing         6M
159       Testing         9M
160       Testing         6M
161       Testing         2Y

[162 rows x 2 columns]

In [7]:
for i in exp['Experience']:
#     def convert_to_years(exp):
#         years, months = map(int, exp[:-1].split('Y')) if 'Y' in exp else (0, int(exp[:-1]))
# #         years, months = map(int, exp.split('Y'))
#         months = months if 'M' in exp else 0
#         total_years = years + months / 12
#         return total_years        
    
    def convert_to_years(exp):
        years, months = map(int, exp[:-1].split('Y')) if 'Y' in exp else (0, int(exp[:-1]))
        total_years = years + months / 12
        return total_years

In [ ]:
exp['Experience'] = exp['Experience'].apply(convert_to_years)